@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body > h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

#logo {
  font-size: 4rem;
  font-family: 'Press Start 2P', cursive;
  margin: 25px;
  text-align: center;
}

#grids-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.grid {
  display: grid;
  display: none;
  grid-template-columns: repeat(10, 1fr);
  width: fit-content;
  height: fit-content;
  background-color: black;
  gap: 2px;
  border: 2px solid black;
}

.grid > * {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
}

/* .grid > *:hover {
  background-color: rgb(225, 225, 225);
} */

button.empty {
  background-color: white;
}

button.ship {
  background-color: greenyellow;
}

button.ship::after {
  /* content: '⬤'; */
  /* content: '✖'; */
  font-size: 1.5rem;
}

button.miss {
  background-color: gray;
}

button.hit {
  background-color: red;
}

#ship-placement {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 500px;
}

form > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

form fieldset {
  border: 2px solid black;
  padding: 15px;
}

form > button {
  width: 200px;
  border: 2px solid black;
  padding: 8px;
  font-weight: bold;
}

form input {
  width: 50px;
}

#ship-placement .grid {
  display: grid;
}
